body{
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:300px;
    background:lightpink;
    padding:15px;
}

.card img{
    width:200px;
    height:180px;
}

.content{
    text-align:center;
}

